/* Header.css */

.headerBar {
    /* background-color: gray; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .headerContent { */
    /* background-color: lightgray; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin: 0 auto; */
    /* width: clamp(50vw, 60rem, 100vw); */
/* } */

/* .logo {
    margin-left: 20px;
    height: 60px;
} */

/* Button styles */
.button {
  /* background-color: white; */
  /* border: 1px solid black; */
  color: white;
  font-size: large;
  font-weight: 900;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(255, 191, 0);
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 191, 0); /* Change background color on hover */
  color: black;
}