.menu .HStack {
    display: flex;
    align-items: flex-start; /* Keeps entries (when one has a longer description than the other) in top left corner */
}

.menu .menuItem {
    display: flex;
    width: 45%;
    text-align: left;
    align-items: flex-start; /* Keeps img in top left corner */
    margin: 10px;
    /* padding-left: 2px; helps the border fit nicer around the edge of text when not using photos */
}

.menu .menuItem > .VStack {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .menu .menuItem {
        width: 99%;
        margin: 4px
    }
}

.menu .featured {
    border: 2px solid rgb(255, 191, 0);
}

.menu .plate {
    margin-right: 10px;
}

.menu h3 {
    color: rgb(255, 191, 0);
}

.menu p {
    font-style: italic;
    font-weight: 100;
}

.menu .smallPlatesLogo {
    width: 400px;
    max-width: 99%;
    transform: rotate(-1.8deg);
    margin-bottom: 8px;
}

.menu .saladsLogo {
    width: 350px;
    max-width: 99%;
    margin-bottom: 10px;
}

.menu .handheldsLogo {
    width: 350px;
    max-width: 99%;
    margin-bottom: 14px;

}

.menu .pizzaLogo {
    width: 400px;
    max-width: 99%;
}

.menu .lunchLogo {
    width: 350px;
    max-width: 99%;
    margin-bottom: 6px;
}
