.menu .HStack {
    display: flex;
    align-items: flex-start; /* Keeps entries (when one has a longer description than the other) in top left corner */
}

.menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 1000px;
    width: fit-content;
}

.menuToggle button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1000px;
    padding: 2px 10px 3px 10px;
}

.menuToggle button:hover, .menuToggle .selected {
    background-color: rgb(255, 191, 0);
    color: black;
    padding: 2px 20px 3px 20px;
}

.menuToggle h3 {
    font-size: large;
    font-weight: 900;
    text-decoration: none;
}