.header {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* padding: 10px 0 20px 0; */
  z-index: 1000;
}

.header img {
    max-height: 80px;
    max-width: 100%;
}