.drinks {
    color: white;
}

@media (min-width: 768px) {
    .drinks > .HStack {
        width: 45%;
    }
}

.drinks img {
    height: 200px;
    margin: 20px 0;
}

.drinks .verticalText {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    transform-origin: center; /* Rotates from the center of the element */
    white-space: nowrap; /* Ensures the text does not wrap */
    font-size: x-large;
    font-weight: 900;
}

.drinks hr {
    /* border: 1px solid rgb(160, 160, 160); */
}

.drinks .drinkList {
    margin: 20px 0 20px 20px;
    align-items: start;
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Removes default padding */
    font-weight: 100;
}

.drinks li {
    padding: 5px;
}

.drinks li:hover {
    /* background-color: red; */
}

.drinks i {
    color: rgb(255, 191, 0);
    font-weight: 900;
}