/* a */

* {
  margin: 0;
}

html, body {
  background-color: rgb(0, 0, 0);
}

.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: 'Arial';
  color: white;
  width: clamp(50vw, 60rem, 100vw);
  margin: 0 auto;
  /* padding-top: 80px; */
  /* padding-bottom: 70px; */
}

.bodyContent {
  width: 100%;
  margin: 0 auto;
}

.VStack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; /* Center items horizontally in the stack */
  justify-content: flex-start; /* Align items to the start of the flex-direction */
}

.HStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /* Center items vertically in the stack */
  justify-content: center; /* Align items to the start of the flex-direction */
}

.ZStack {
  position: relative;
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
}

.ZStack > * {
  position: absolute;
  top: 0;
  left: 0;
}
