/* a */

* {
  margin: 0;
}

html, body {
  background-color: rgb(20, 20, 20);
}

.App {
  text-align: center;
  background-color: rgb(20, 20, 20);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Helvetica';
  color: white;
  width: clamp(50vw, 60rem, 100vw);
  margin: 0 auto;
}

.bodyContent {
  width: 95%;
  margin: 0 auto;
}