.footer {
    background-color: #333;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 0 20px 0;
}

.footer .button {
    /* background-color: white; */
    /* border: 1px solid black; */
    color: white;
    font-size: large;
    font-weight: 900;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(255, 191, 0);
    text-decoration: none;
}

.footer .button:hover, .footer .button.active {
    background-color: rgb(255, 191, 0); /* Change background color on hover */
    color: black;
}