.footer {
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 12px 0;
}

.footer .button {
    display: flex;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1000px;
    padding: 2px 10px 3px 10px;
    text-decoration: none;
}

.footer .button:hover, .footer .button.active {
    background-color: rgb(255, 191, 0);
    color: black;
    padding: 2px 20px 3px 20px;
}

.footer .VStack.button h3 {
    font-size: large;
    font-weight: 900;
}

.footer .button p {
    font-size: small;
}