.Home .ellasLogo {
    max-width: 60%;
    max-height: 200px;
}

.Home .shot1 {
    width: 100%;
    max-height: 300px;
    /* overflow: hidden; */
    object-fit: cover;
    object-position: center bottom;
}

.Home .button {
    color: black;
    background: white;
    text-decoration: none;
    margin: 10px 5px 0 5px;
    padding: 10px 20px;
    border-radius: 100px;
    transition: 0.3s;
}

.Home .button:hover {
    background: gray;
    transition: 0.2s;
}

.Home p {
    max-width: 360px;
}

.Home .IGlogo {
    width: 50px;
}

.Home .instagramLink {
    color: white;
    text-decoration: none;
    /* position: fixed; */
    /* bottom: 0px; */
    /* left: 0px; */
    margin: 12px 0;
    border-radius: 100px;
    padding-right: 20px;
    border: 2px solid white;
    transition: 0.3s;
}

.Home .instagramLink:hover {
    background: rgb(48, 48, 48);
    transition: 0.2s;
}